<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Bootstrap template</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height:150px">
        <div class="col-md-3"><img src="http://lorempixel.com/100/100/" alt="logo image" /></div>
        <div class="col-md-9"style="text-align:center;"><h1>Vamos à la playa</h1></div>
      </div>
      <div class="row" style="height:300px">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 col-xs-12 ">
          <input type="text" class="form-control" placeholder="Veuillez insérez ici votre destination.."></div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-default" style="width:100%;">GO !</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row" style="height:900px">
        <div class="col-sm-6">
          <div class="row" style="height: 300px; border: 1px solid black;">1</div>
          <div class="row" style="height: 300px; border: 1px solid black;">2</div>
          <div class="row" style="height: 300px; border: 1px solid black;">3</div>
        </div>
        <div class="col-sm-6">
          <div class="row" style="height: 300px; border: 1px solid black;">4</div>
          <div class="row" style="height: 300px; border: 1px solid black;">5</div>
          <div class="row" style="height: 300px; border: 1px solid black;">6</div>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
